body{
	margin:30px;
}

#header{

	background-color: gray;
	width:100%;
	height:100px;
	color:white;
}
#company_name{
	padding:10px;	
}

#addNew{
	margin-right:20px;
	float:right;
	background-color:white;
	color:black;
	width:auto;
	height:auto;
	text-decoration:none;
	border:black;
}
.save{
	width:auto;
	height:20px;
	background-color:green;
	color:white;
	border:black;
	
}

.edit{
	float:right;
	width:auto;
	height:20px;
	background-color:green;
	color:white;
	border:black;
}

table{
	border: 1px solid;
	width:500px;
	height:auto;
}
thead{
	text-align:center;
	background-color:gray;
	color:white;
}
tbody{
	text-align:center;
}

#hidden{
	display:none;
}